<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Home</title>
    <meta name="description" content="Movie Site">
    <meta name="author" content="SitePoint">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    <style>

    </style>
</head>

<body>
    <container>
        <div class="menu-button" style="z-index: 99;">
            <a href="/"><img src='/home.png' style="width: 80%" /></a>
        </div><br>
        <div class="menu-button">
            <a href="/genres"><img src='/menu.png' style="padding-top: 50px; width: 80%" /></a>
        </div>
        <h1>All Films</h1>
        {{#each data}}
        <a class="movie-div" href="/film/title/{{this.Title}}/year/{{this.Year}}" />
        <div class="movie-title">
            <h2>{{this.Title}}</h2>
        </div> <br>
        <img src={{this.Poster}} /><br>
        {{this.Plot}} <br>
        {{this.Year}} <br>
        <div class="imdb-div">
            {{!-- <a href="imdb.com/title/{{this.imdbID}}"> --}}
            IMDB Rating: {{this.imdbRating}} <br>
            {{!-- </a> --}}
        </div> Awards: {{this.Awards}} <br>
        </a>
        <div class="crud-menu">
            <a href="/delete-film-screen/title/{{this.title}}/year/{{this.year}}">Delete</a>
            <a href="/edit-film-screen/title/{{this.title}}/year/{{this.year}}">Edit</a>
        </div>
        {{/each}}
    </container>
    <script src="js/scripts.js"></script>
</body>

</html>