<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>{{{loud data.Title}}}</title>
    <meta name="description" content="Movie Site">
    <meta name="author" content="SitePoint">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    <style>

    </style>
</head>

<body style="background-image:url({{data.Poster}});   background-repeat: no-repeat; background-size: cover;">
    <container>
        <div class="menu-button" style="z-index: 99;">
            <a href="/"><img src='/home.png' style="width: 80%" /></a>
        </div><br>
        <div class="menu-button">
            <a href="/genres"><img src='/menu.png' style="padding-top: 50px; width: 80%" /></a>
        </div>
        <div class="movie-div" />
        <div class="movie-title">
            {{!-- <h2>{{data.Title}}</h2> --}}
        </div> <br>
        {{!-- <img src={{data.Poster}} /><br><br> --}}
        <div id="iframe-div"></div>
        <iframe class="video" src="https://www.youtube.com/embed/{{data.trailer}}" frameborder='0'
            allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen></iframe>
        </div>
        <table style="width:100%">
            <tr>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td colspan="2">
                    <h1 class="single-movie-title">{{{loud data.Title}}}</h1>
                </td>
            </tr>
            <tr>
                <td class="td-title">Plot</td>
                <td class="td-content">{{data.Plot}}<br><br>
                    <a class="plot-button" href="/film/title/{{data.Title}}/year/{{data.Year}}/full">full plot</a></td>
            </tr>
            <tr>
                <td class="td-title">Year</td>
                <td class="td-content">{{data.Year}}</td>
            </tr>
            <tr>
                <td class="td-title">Runtime</td>
                <td class="td-content">{{data.Runtime}}</td>
            </tr>
            <tr>
                <td class="td-title">Genre</td>
                <td class="td-content">{{data.Genre}}</td>
            </tr>
            <tr>
                <td class="td-title">Director</td>
                <td class="td-content">{{data.Director}}</td>
            </tr>
            <tr>
                <td class="td-title">Written by</td>
                <td class="td-content">{{data.Writer}}</td>
            </tr>
            <tr>
                <td class="td-title">Starring</td>
                <td class="td-content">{{data.Actors}}</td>
            </tr>
            <tr>
                <td class="td-title">IMDB Rating</td>
                <td class="td-content">{{data.imdbRating}}</td>
            </tr>
            <tr>
                <td class="td-title">Awards</td>
                <td class="td-content">{{data.Awards}}</td>
            </tr>
        </table>
    </container>
    <script src="js/scripts.js">
        function loadDoc() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function (title, year) {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("demo").innerHTML = this.responseText;
                }
            };
            const url = "filmtrailer/title/year"
            xhttp.open("GET", url, true);
            xhttp.send();
            var trailerUrl = 'https://www.youtube.com/embed/' + xhttp.responseText;
            document.getElementById("iframe-div").firstChild.src = trailerUrl;
        }
    </script>
</body>

</html>